@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.selection-content{
    background-color: #444444;
    color: #f5f0f0;
    padding: 3%;

    display: flex;
    justify-content: center;
    border-radius: 15px;
    margin-right: 20vw;
    flex-direction: column;
    gap: 2vh;
}

.titleSelection{
    background-color: #8e8a8a;
    padding: 1vh;
    border-radius: 10px;
    margin-right: 24vw;
    font-weight: bold;
}

